@media only screen and (max-width: 768px){

	.cls_sh_all_in_one_mbs_video_tag{
	    
	    border: 1px solid gray;
	    width: 100%;
	    height: 300px;
	    object-fit: cover;
	    display: block;
	
	}
}

